body{
    font-family: 'Courier New', Courier, monospace;
    min-width: 1000px;
}

li{
    list-style: none;
}

.header{
    background-color:rgba(165, 101, 42, 0.651);
    color: black;
    height: 90px;
    min-width: 1000px;
}

.header-logo{
    float:left;
    font-size:36px;
    padding:23px 40px 15px 40px;
}

.header-logo a{
    color:white;
    text-decoration: none;
}

.header-list li{
    float:left;
    padding: 33px 40px;
}

.header-list a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.main{
    padding:100px 80px;;
}

.copy-container h1{
    font-size: 100px;
    box-sizing: border-box;
}

.copy-container h2{
    font-size: 60px;
    font-weight:bold;
}

.copy-container span{
    color:rgb(78, 119, 39);
    font-size:150px;
}

.contents{
    height: 500px;
    margin-top:100px;
}

.section-title{
    border-bottom:2px solid black;
    font-size:28px;
    padding-bottom:15px;
    margin-bottom:50px;
}

.contents-item{
    float:left;
    margin-right:40px;
}

.contents-item a{
    font-size: 20px;
    text-decoration: none;
    color:black;
}

.contents-item img{
    display: flex;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.footer{
    background-color: black;
    color:aliceblue;
    padding: 40px;
    
}

.footer-logo{
    float:left;
}

.footer-list li{
    float:right;
    padding: 0px 20px;
}