body{
    font-family:'Courier New', Courier, monospace ;
}

li{
    list-style: none;
}

.header{
    background-color: rgba(165, 101, 42, 0.651);
    color:  white;
    height:90px;
}

.header-logo{
    float:left;
    font-size:36px;
    padding:23px 40px 15px 40px;
}

.header-logo a{
    color:white;
    text-decoration: none;
}

.header-list li{
    float:left;
    padding:33px 40px;
}

.header-list a{
    color:white;
    font-size: 20px;
    text-decoration: none;
}

.main{
    padding:100px 80px;
}
.copy-container h1{
    font-size: 100px;
    font-weight: normal;
}

.copy-container span{
    color:rgba(130, 192, 72, 0.808);
    font-weight: bold;
    font-size: 110px;
}